@import "tailwindcss";
@import "tw-animate-css";

@custom-variant dark (&:is(.dark *));

body {
  @apply text-sm sm:text-base xl:text-lg;
}

/* Global Themes */
body[data-theme='dark'] {
  @apply bg-zinc-800 text-zinc-100;
}

body[data-theme='light'] {
  @apply bg-zinc-300 text-zinc-900;
}

/* Header Text */
.css-header-text {
  @apply text-base;
  @apply font-semibold;
}

/* profile card username */
.css-profile-card-username {
  @apply text-sm sm:text-2xl xl:text-xl;
}

/* Transitions */
.css-transition {
  @apply transition duration-150 ease-in-out;
}

/* Navigation Buttons */
.css-react-icon-size {
  @apply text-2xl;
}

/* Inactive Buttons*/
.css-light-nav-button {
  @apply px-2 py-2 rounded-md hover:cursor-pointer;
  @apply hover:bg-zinc-400/50 active:bg-zinc-400/70 hover:backdrop-blur-md;
}

.css-dark-nav-button {
  @apply px-2 py-2 rounded-md hover:cursor-pointer;
  @apply hover:bg-zinc-700/50 active:bg-zinc-700/70 hover:backdrop-blur-md;
}

/* Active Buttons */
.css-light-nav-button-active {
  @apply px-2 py-2 rounded-md hover:cursor-pointer;
  @apply bg-zinc-400/40 backdrop-blur-md;
}

.css-dark-nav-button-active {
  @apply px-2 py-2 rounded-md hover:cursor-pointer;
  @apply bg-zinc-700/50 backdrop-blur-md;
}

/* Navigation Container */
.css-light-nav-container {
  @apply bg-zinc-200/20 backdrop-blur-sm border-1 border-zinc-400/40;
}

.css-dark-nav-container {
  @apply bg-zinc-700/20 backdrop-blur-sm border-1 border-zinc-700/50;
}

/* Common Container */
.css-light-container {
  @apply bg-zinc-200/20;
}

.css-dark-container {
  @apply bg-zinc-700/20;
}

/* Shiny Text */
.css-shiny-text-dark {
  color: #b5b5b5a4;
  background: linear-gradient(
    120deg,
    rgba(255, 255, 255, 0) 40%,
    rgba(255, 255, 255, 0.8) 50%,
    rgba(255, 255, 255, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}

.css-shiny-text-light {
  color: #2d2d2da4;
  background: linear-gradient(
    120deg,
    rgba(0, 0, 0, 0) 40%,
    rgba(0, 0, 0, 0.7) 50%,
    rgba(0, 0, 0, 0) 60%
  );
  background-size: 200% 100%;
  -webkit-background-clip: text;
  background-clip: text;
  display: inline-block;
  animation: shine 5s linear infinite;
}


@keyframes shine {
  0% {
    background-position: 100%;
  }
  100% {
    background-position: -100%;
  }
}

.css-shiny-text-dark.disabled,
.css-shiny-text-light.disabled {
  animation: none;
}


